<%= form_with(model: cookie_change, local: true) do |form| %>
  <% if cookie_change.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cookie_change.errors.count, "error") %> prohibited this cookie_change from being saved:</h2>

      <ul>
        <% cookie_change.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :identifier %>
    <%= form.text_field :identifier %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
