<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @basecamp_integration.description %>
</p>

<p>
  <strong>Code:</strong>
  <%= @basecamp_integration.code %>
</p>

<%= link_to 'Edit', edit_basecamp_integration_path(@basecamp_integration) %> |
<%= link_to 'Back', basecamp_integrations_path %>
