<%= form_with(model: ezii_delta_git, local: true) do |form| %>
  <% if ezii_delta_git.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ezii_delta_git.errors.count, "error") %> prohibited this ezii_delta_git from being saved:</h2>

      <ul>
        <% ezii_delta_git.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :git_commit_created_at %>
    <%= form.date_select :git_commit_created_at %>
  </div>

  <div class="field">
    <%= form.label :github_commit_link %>
    <%= form.text_area :github_commit_link %>
  </div>

  <div class="field">
    <%= form.label :git %>
    <%= form.text_field :git %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
