<%= form_with(model: unzip, local: true) do |form| %>
  <% if unzip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unzip.errors.count, "error") %> prohibited this unzip from being saved:</h2>

      <ul>
        <% unzip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :zip_file_path %>
    <%= form.text_field :zip_file_path %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
