<p id="notice"><%= notice %></p>

<p>
  <strong>Facebook:</strong>
  <%= @employee.Facebook %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @employee.Linkedin %>
</p>

<p>
  <strong>Role:</strong>
  <%= @employee.Role %>
</p>

<p>
  <strong>E mail:</strong>
  <%= @employee.e_mail %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @employee.Mobile %>
</p>

<p>
  <strong>Address:</strong>
  <%= @employee.Address %>
</p>

<p>
  <strong>Country:</strong>
  <%= @employee.Country %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @employee.Full_Name %>
</p>

<p>
  <strong>Last name 2:</strong>
  <%= @employee.Last_Name_2 %>
</p>

<p>
  <strong>Last name 1:</strong>
  <%= @employee.Last_Name_1 %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @employee.Middle_Name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @employee.First_Name %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
