<p id="notice"><%= notice %></p>

<p>
  <strong>Graphql query text:</strong>
  <%= @ezii_geminator.graphql_query_text %>
</p>

<p>
  <strong>Url text:</strong>
  <%= @ezii_geminator.url_text %>
</p>

<%= link_to 'Edit', edit_ezii_geminator_path(@ezii_geminator) %> |
<%= link_to 'Back', ezii_geminators_path %>
