<%= javascript_pack_tag('trix') %>
<%= stylesheet_link_tag('actiontext') %>


<%= form_with(model: make, local: true) do |form| %>
  <% if make.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(make.errors.count, "error") %> prohibited this make from being saved:</h2>

      <ul>
        <% make.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :what_will_i_make %>
    <%= form.text_area :what_will_i_make %>
  </div>


  <div>
    <%= form.rich_text_area :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
