<p id="notice"><%= notice %></p>

<p>
  <strong>Weight:</strong>
  <%= @banal_complex.weight %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @banal_complex.parent_id %>
</p>

<%= link_to 'Edit', edit_banal_complex_path(@banal_complex) %> |
<%= link_to 'Back', banal_complexes_path %>
