<p id="notice"><%= notice %></p>

<p>
  <strong>Rfc:</strong>
  <%= @whitelabel_system_extension.rfc %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @whitelabel_system_extension.comment_id %>
</p>

<%= link_to 'Edit', edit_whitelabel_system_extension_path(@whitelabel_system_extension) %> |
<%= link_to 'Back', whitelabel_system_extensions_path %>
