<p id="notice"><%= notice %></p>

<h1>Visualizations</h1>

<table>
  <thead>
    <tr>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visualizations.each do |visualization| %>
      <tr>
        <td>
          <%= image_tag(visualization.image_url) %>
        </td>
        <td><%= visualization.image_url %></td>
        <td><%= link_to 'Show', visualization %></td>
        <td><%= link_to 'Edit', edit_visualization_path(visualization) %></td>
        <td><%= link_to 'Destroy', visualization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visualization', new_visualization_path %>
