<p id="notice"><%= notice %></p>

<p>
  <strong>Ezii delta git:</strong>
  <%= @ezii_delta_direction.ezii_delta_git_id %>
</p>

<p>
  <strong>Direction y:</strong>
  <%= @ezii_delta_direction.direction_y %>
</p>

<%= link_to 'Edit', edit_ezii_delta_direction_path(@ezii_delta_direction) %> |
<%= link_to 'Back', ezii_delta_directions_path %>
