<p id="notice"><%= notice %></p>

<p>
  <strong>Why:</strong>
  <%= @big_discrete_module.why %>
</p>

<p>
  <strong>How:</strong>
  <%= @big_discrete_module.how %>
</p>

<p>
  <strong>What:</strong>
  <%= @big_discrete_module.what %>
</p>

<p>
  <strong>When:</strong>
  <%= @big_discrete_module.when %>
</p>

<%= link_to 'Edit', edit_big_discrete_module_path(@big_discrete_module) %> |
<%= link_to 'Back', big_discrete_modules_path %>
