<%= form_with(model: app_detection, local: true) do |form| %>
  <% if app_detection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(app_detection.errors.count, "error") %> prohibited this app_detection from being saved:</h2>

      <ul>
        <% app_detection.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :app_type %>
    <%= form.text_field :app_type %>
  </div>

  <div class="field">
    <%= form.label :strategy %>
    <%= form.text_area :strategy %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
