<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @hart_science_experiment.text %>
</p>

<p>
  <strong>Url:</strong>
  <%= @hart_science_experiment.url %>
</p>

<%= link_to 'Edit', edit_hart_science_experiment_path(@hart_science_experiment) %> |
<%= link_to 'Back', hart_science_experiments_path %>
