<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @ezii_adult_verify_and_signin.user_name %>
</p>

<p>
  <strong>Scm:</strong>
  <%= @ezii_adult_verify_and_signin.scm_id %>
</p>

<p>
  <strong>Shell script used:</strong>
  <%= @ezii_adult_verify_and_signin.shell_script_used %>
</p>

<p>
  <strong>When will scm scl011 be available as rubygem integration:</strong>
  <%= @ezii_adult_verify_and_signin.when_will_scm_scl011_be_available_as_rubygem_integration %>
</p>

<%= link_to 'Edit', edit_ezii_adult_verify_and_signin_path(@ezii_adult_verify_and_signin) %> |
<%= link_to 'Back', ezii_adult_verify_and_signins_path %>
