<p id="notice"><%= notice %></p>

<p>
  <strong>Org:</strong>
  <%= @banal_business_testcase.org_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @banal_business_testcase.name %>
</p>

<p>
  <strong>Metainfo:</strong>
  <%= @banal_business_testcase.metainfo %>
</p>

<p>
  <strong>Link:</strong>
  <%= @banal_business_testcase.link %>
</p>

<%= link_to 'Edit', edit_banal_business_testcase_path(@banal_business_testcase) %> |
<%= link_to 'Back', banal_business_testcases_path %>
