<p id="notice"><%= notice %></p>

<p>
  <strong>Facebook:</strong>
  <%= @banal_employee.Facebook %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @banal_employee.Linkedin %>
</p>

<p>
  <strong>Role:</strong>
  <%= @banal_employee.Role %>
</p>

<p>
  <strong>E mail:</strong>
  <%= @banal_employee.e_mail %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @banal_employee.Mobile %>
</p>

<p>
  <strong>Address:</strong>
  <%= @banal_employee.Address %>
</p>

<p>
  <strong>Country:</strong>
  <%= @banal_employee.Country %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @banal_employee.Full_Name %>
</p>

<p>
  <strong>Last name 2:</strong>
  <%= @banal_employee.Last_Name_2 %>
</p>

<p>
  <strong>Last name 1:</strong>
  <%= @banal_employee.Last_Name_1 %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @banal_employee.Middle_Name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @banal_employee.First_Name %>
</p>

<%= link_to 'Edit', edit_banal_employee_path(@banal_employee) %> |
<%= link_to 'Back', banal_employees_path %>
