<p id="notice"><%= notice %></p>

<p>
  <strong>Employee graph svg text:</strong>
  <%= @ezii_teamwork.employee_graph_svg_text %>
</p>

<p>
  <strong>Medium link:</strong>
  <%= @ezii_teamwork.medium_link %>
</p>

<p>
  <strong>Ezii game x zip download link:</strong>
  <%= @ezii_teamwork.ezii_game_x_zip_download_link %>
</p>

<%= link_to 'Edit', edit_ezii_teamwork_path(@ezii_teamwork) %> |
<%= link_to 'Back', ezii_teamworks_path %>
